body {
  font-family: monospace;
}

#description {
  width: 100%;
}

.checkbox-container {
  display: flex;
  position: relative;
}

.checkbox-container input {
  position: absolute;
  visibility: hidden;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #bbb;
  padding: 10px;
  margin-top: 10px;
  user-select: none;
  -moz-user-select: none;
}
.checkbox-container label img {
  height: 18px;
}

#hide-on-youtube:checked + label {
  background-color: #f00;
}
#hide-on-twitch:checked + label {
  background-color: #6441a4;
}

.checkbox-container input:not(:checked) + label {
  opacity: 0.6;
}
.checkbox-container input:hover + label {
  opacity: 1;
}

.checkbox-container input:checked + label .icon-on {
  display: block;
}
.checkbox-container input:checked + label .icon-off {
  display: none;
}
.checkbox-container input + label .icon-on {
  display: none;
}

.hidden {
  display: none;
}
